<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/6e1845a4-3a3b-4d07-b4bb-939b212346ac/resourceGroups/app-grp/providers/Microsoft.Web/sites/appservice1999</ResourceId>
    <ResourceGroup>app-grp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://appservice1999.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://appservice1999.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$appservice1999</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>