<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/6e1845a4-3a3b-4d07-b4bb-939b212346ac/resourceGroups/app-vm/providers/Microsoft.Web/sites/webapp400</ResourceId>
    <ResourceGroup>app-vm</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://webapp400.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://webapp400.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$webapp400</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>